:host {
  display: block;
}

#container {
  padding: 10px;
}

.header-font {
  font-family: 'RobotoDraft';
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
}

.header-detail-font {
  font-family: 'RobotoDraft';
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
}

#profile-header {
  margin-bottom: 10px;
}

#profiles {
  margin-bottom: 10px;
}