:host {
  display: block;
  position: relative;
  background-color: white;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'RobotoDraft', sans-serif;
}

paper-fab {
  color: black;
  background-color: white;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  margin: 0 5px 0 5px;
}

paper-fab:hover {
  color: #666666;
  background: #eee;
  border-radius: 50%;
}

.profiles-link > paper-fab /deep/ core-icon[role=img] {
  height: 100%;
  width: 100%;
}

.profile-header {
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
}

.profile-details {
  margin-left: 10px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.profiles {
  padding-bottom: 10px;
}

.aboutMeButton {
  position: absolute;
  top: 5px;
  right: 3px;
  height: 10%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 32px;
}

#aboutMeIcon {
  height: 20px;
  width: 20px;
}

#aboutMeCollapse {
  margin: 0 10px 0 10px;
}

.maps-icon {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.text-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 128px;
  letter-spacing: -5px;
}

.text-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}

.text-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}

.text-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}

.text-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}

.text-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
}

.text-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.text-menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}

.text-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 32px;
}